* {background-color: black}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
  }

.logo {
    width: auto;
    height: auto;

}

.main {
    color: white;
}